@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
	--red: #c96565;
	--yellow: #c9b065;
	--lime: #8cba5d;
	--green: #65b87a;
	--cyan: #60b5a8;
	--blue: #658fc9;
	--purple: #8665c9;
	--pink: #c965c1;
	--accent: var(--blue);

	--background: #fff;
	--backdrop: #eee;
	--foreground: #444;
	--shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}

p {
	margin-left: 5px;
}

body {
	background: var(--background);
	max-width: 900px;
	margin: 30px auto;
	padding: 40px 20px 20px 30px;
	border-radius: 8px;
	box-shadow: var(--shadow);
	transition: margin 100ms;
}

html {
	color: var(--foreground);
	background: var(--backdrop);
	font-family: "Noto Sans", Roboto, sans-serif;
}

span {
	font-family: "Open Sans";
}

h1 {
	font-family: fantasy;
	font-weight: 800;
}

h2 {
	margin-left: 10px;
}

a,
h2,
.accent {
	color: var(--accent);
}

a {
	text-align: right;
	margin-right: 30px;
	text-decoration: none;
	font-weight: 400;
}

h1 {
	text-align: center;
}

.links p > span {
	display: block;
}

@media (min-width: 600px) {
	.links p {
		display: grid;
		grid-template-columns: 12ch calc(100% - 12ch);
		margin-left: 12px;
		margin: 8px 0px;
	}
}

@media (max-width: 940px) {
	body {
		margin-top: 0px;
	}
}

/* Animation code was kindly supplied by paradox - github.com/safinsingh */
.gradient {
	background: linear-gradient(
		to right,
		var(--red),
		var(--yellow),
		var(--lime),
		var(--green),
		var(--cyan),
		var(--blue),
		var(--purple),
		var(--pink)
	);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	animation: rainbow 5s ease infinite;
	background-size: 400% 100%;
}

@keyframes rainbow {
	0%,
	100% {
		background-position: 0 0;
	}
	50% {
		background-position: 100% 0;
	}
}

/* dark mode */
@media (prefers-color-scheme:dark) {
	:root {
		--red: #fd8181;
		--yellow: #ffe389;
		--lime: #b3f76e;
		--green: #6ef790;
		--cyan: #8cffff;
		--blue: #81a0ff;
		--purple: #ce9dff;
		--pink: #fd88e0;
		--accent: var(--blue);

		--background: #222222;
		--backdrop: #111111;
		--foreground: #ddd;
		--shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
	}
}
